# Ignoră fișierele compilate de Python
__pycache__/
*.py[cod]

# Ignoră baza de date (nu vrem să urcăm datele userilor pe net)
*.db
*.sqlite3

# Ignoră folderul cu librăriile instalate (venv)
venv/
env/
.env

# Ignoră setările specifice editorului tău
.vscode/
.idea/

# Front-end
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
